{% extends "./includes/layout.twig" %}

{% block content %}
    <div class="menu-border"></div>
    <nav class="header-menu header-menu__active container cols cols--acenter">

        <div class="cols">
            <ul class="header-menu--main cols cols--acenter">
                <li>
                    <a href="/"><span class="icon icon-menu"></span></a>
                </li>
                <li>
                    <a href="/">
                        Услуги
                    </a>
                </li>
                <li>
                    <a href="/">
                        Проекты
                    </a>
                </li>
                <li>
                    <a href="/">Реализованные проекты</a>
                </li>
                <li>
                    <a href="/">
                        Проодажа пиломатериала
                    </a>
                </li>
                <li>
                    <a href="/">
                        О компании
                    </a>
                </li>
                <li>
                    <a href="/">
                        Технологии
                    </a>
                </li>
                <li>
                    <a href="/">
                        Контакты
                    </a>
                </li>
            </ul>
            <div class="header-menu--home">
                <a href="/">
                    <span class="icon icon-home"></span>
                    главная
                </a>
            </div>
        </div>
        <div class="navigation navigation_active">
            <nav>
                <ul class="cols cols--start">
                    <li>
                        <a href="">Главная</a>
                    </li>
                    -
                    <li>
                        <a href="">О компании</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <!--section1-->
    <section class="main-experience main-experience_active container cols">
            <div class="main-experience--left">
                <div class="h1">
                    Главная ценность -
                    <br>накопленный опыт
                </div>
            </div>
            <div class="main-experience--right">
                <p>
                    Сегодня мы готовы взяться за реализацию проекта любого размера и сложности,
                    прогарантировать его долговечность. Такой уверенности предшествовал долгий путь и сотни построенных домов.
                </p>
                <p>
                    Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты прозводства материалов и строительства домов.
                </p>
                <p>
                    СК-43 начала деятельность  с деревообрабатывающего завода, который и по сей день является сердцем нашей компании. Мы на практике научились отбирать лучшее, в плане долговечности, сырье для строительства домов из оцилиндрованного бревна. Постигли все тонкости обработки древесины.
                </p>
                <p>
                    Через 2 года работы пришло понимание, что для поддержания имиджа деревянных домов следует самим взяться за строительство, полностью сохраняя ценность этого природного материала, не допуская никаких возможных недостатков, которые возникают при не правильной работе  с деревом. Так было создано строительное подразделение нашей фирмы.
                </p>
                <p>
                    Переняв и консолидировав опыт наших партнёров - строительных фирм, мы начали приобретать свой. Сначала на не больших, а со временем на более масштабных и  сложных проектах.
                </p>
                <p>
                    Своеобразным экзаменом для нас стало сотрудничество с Московской, Нижегородской, Самарской, Кировской и Мурманской епархиями. Строительство социально  значимых общественных объектов - административных зданий, часовен, трапезных, храмов на 400-700 человек, требовало ответственного и квалифицированного подхода к монтажу и дальнейшему  обслуживанию. С этой задачей мы успешно справились и зарекомендовали себя как надежного партнёра.
                </p>
            </div>

    </section>

    <!--section2-->

    <section class="mission">
        <div class="container cols">
            <div class="mission-left ">
                <div class="h4">
                    Миссия компании:
                </div>
                <p>
                    Главный профиль компании "СК-43" - это строительство домов и Православных храмов из оцилиндрованного бревна. Дом является основополагающей ценностью в жизни каждой семьи.
                    <br>
                    <br>Мы всегда понимали эту ответственность перед людьми и относились к своей работе с особой тщательностью. Для нас самой большой наградой является то, что большинство наших заказчиков рекомендуют нас своим друзьям и знакомым. Мы гордимся тем, что спорные ситуации, которые когда-либо возникали в процессе строительства с нашими клиентами, всегда разрешались взаимопониманием и согласием. Хорошо построенный деревянный дом приносит здоровье и радость. Красивые, сделанные на совесть Православные Храмы дарят своим прихожанам чувство уверенности в будущем, так как в них будут приходить ещё их внуки и правнуки.
                    <br>
                    <br>Счастливые люди - являются основной миссией нашей компании.
                </p>
            </div>
            <div class="mission-right h1">
                Счастливые люди -
                наша цель.
            </div>
        </div>
    </section>

    <!-- 3 section-->

    <section class="work container">
        <div class="work-title h1">
            как мы работаем?
        </div>
        <div class="work-about cols">
                <div class="work-block cols">
                    <div class="work-title-left cols cols--acenter cols--start">
                        <span> 01</span>
                        <div class="h4">
                            Заготовка леса
                        </div>
                    </div>
                    <div class="work-left">
                        <img src="img/about/work-1.jpg" alt="">
                    </div>
                    <div class="work-right">
                        <p>
                            На ряду со всеми остальными этапами производства, огромное внимание уделяется заготовке лесного сырья.
                        </p>
                        <br>
                        <p>
                            Мы ведем заготовку леса в северных районах Кировской области и в республике Коми, а так как лес зимней вырубки считается более удачным для строительства — особенно интенсивная заготовка ведется в зимний период, а специальные условия хранения позволяют нам сохранить заготовленный зимой лес до середины летнего периода в идеальном состоянии.
                        </p>
                        <br>
                        <p>
                            При поступлении на производство все сырье тщательно просматривается нашими технологами, а для изготовления оцилиндрованного бревна используется только высший сорт.
                        </p>
                    </div>
                    <div class="work-bottom">
                        <p>
                            Для проектирования деревянных домов из оцилиндрованного бревна мы используем лицензионный комплекс компьютерных программ K3-Коттедж. КЗ-Коттедж позволяет ускорить выпуск проектной документации и повысить качество подготовки производственных заданий по изготовлению домов из оцилиндрованных бревен на базе компьютерных технологий.
                        </p>
                        <br>
                        <p>
                            Проектирование деревянных домов в программе К3-Коттедж основано на принципе «От компьютерной модели к полному комплекту документов». Автоматическое получение всего пакета документов исключает возникновение ошибок, связанных с «человеческим фактором».
                        </p>
                        <br>
                        <p>
                            Наличие собственного отдела проектов позволяет нам вести проект от начала и до конца, полностью контролируя ход.
                        </p>
                    </div>
                    <div class="click-btn work-block-handler">
                        <span>Читать</span> далее
                    </div>
                </div>
                <div class="work-block cols">
                    <div class="work-title-left cols cols--acenter cols--start">
                        <span> 02</span>
                        <div class="h4">
                            Производство
                            <br>оцилиндрованного бревна
                        </div>
                        <div class="btn1-block cols">
                            <a class="btn1" href="/">
                                <span class="bold">Узнать</span> больше
                                <span class="icon icon-left_1"></span>
                            </a>
                        </div>

                    </div>
                    <div class="work-left">
                        <img src="img/about/work-2.jpg" alt="">
                    </div>
                    <div class="work-right">
                        <p>
                            Мы осуществляем обработку древесины на нашей производственной базе находящейся в районе города Слободского, в Кировской области.
                        </p>
                        <br>
                        <p>
                            Требования предъявляемые к оцилиндрованному бревну нашим Тех. Условием гораздо выше требований предъявляемых ГОСТом, Вы можете быть уверены в безупречном качестве нашего оцилиндрованного бревна, а значит и стен Вашего дома.
                        </p>
                        <br>
                        <p>
                            Сразу после изготовления мы проводим первичную обработку изделий антисептирующими средствами.
                        </p>
                    </div>
                    <div class="work-bottom">
                        <p>
                            Для проектирования деревянных домов из оцилиндрованного бревна мы используем лицензионный комплекс компьютерных программ K3-Коттедж. КЗ-Коттедж позволяет ускорить выпуск проектной документации и повысить качество подготовки производственных заданий по изготовлению домов из оцилиндрованных бревен на базе компьютерных технологий.
                        </p>
                        <br>
                        <p>
                            Проектирование деревянных домов в программе К3-Коттедж основано на принципе «От компьютерной модели к полному комплекту документов». Автоматическое получение всего пакета документов исключает возникновение ошибок, связанных с «человеческим фактором».
                        </p>
                        <br>
                        <p>
                            Наличие собственного отдела проектов позволяет нам вести проект от начала и до конца, полностью контролируя ход.
                        </p>
                    </div>
                    <div class="click-btn work-block-handler">
                       <span>Читать</span> далее
                    </div>
                </div>
                <div class="work-block cols">
                    <div class="work-title-left cols cols--acenter cols--start">
                        <span> 03</span>
                        <div class="h4">
                            Разработка проекта
                        </div>
                        <div class="btn1-block cols">
                            <a class="btn1" href="/">
                                <span class="bold">Проектирование</span>
                                <span class="icon icon-left_1"></span>
                            </a>
                        </div>
                    </div>
                    <div class="work-left">
                        <img src="img/about/work-3.jpg" alt="">
                    </div>
                    <div class="work-right">

                        <p>
                            Большое внимание мы уделяем качественному проектированию. Подробная проработка и детализация каждого этапа строительства будущего дома позволяет нам не только избежать проблем при сборке и последующей эксплуатации здания, но и предоставить заказчику точный расчет стоимости проекта, которая в ходе работ не меняется. Мы можем гарантировать такие условия только благодаря глубокому обоснованию проекта и нашему опыту.
                        </p>
                        <br>
                        <p>
                            Мы не обращаемся к сторонним организациям за разработкой проектов. Наши инженеры — конструкторы осуществляют эскизное и рабочее проектирование любых строительных объектов.
                        </p>
                    </div>
                    <div class="work-bottom">
                        <p>
                            Для проектирования деревянных домов из оцилиндрованного бревна мы используем лицензионный комплекс компьютерных программ K3-Коттедж. КЗ-Коттедж позволяет ускорить выпуск проектной документации и повысить качество подготовки производственных заданий по изготовлению домов из оцилиндрованных бревен на базе компьютерных технологий.
                        </p>
                        <br>
                        <p>
                            Проектирование деревянных домов в программе К3-Коттедж основано на принципе «От компьютерной модели к полному комплекту документов». Автоматическое получение всего пакета документов исключает возникновение ошибок, связанных с «человеческим фактором».
                        </p>
                        <br>
                        <p>
                            Наличие собственного отдела проектов позволяет нам вести проект от начала и до конца, полностью контролируя ход.
                        </p>
                    </div>
                    <div class="click-btn work-block-handler">
                        <span>Читать</span> далее
                    </div>
                </div>
                <div class="work-block cols">
                    <div class="work-title-left cols cols--acenter cols--start">
                        <span> 04</span>
                        <div class="h4">
                            Строительство
                        </div>

                    </div>
                    <div class="work-left">
                        <img src="img/about/work-4.jpg" alt="">
                    </div>
                    <div class="work-right">
                        <p>
                            Фундамент
                        </p>
                        <br>
                        <p>
                            Дом начинается с фундамента. фундамент — залог прочности и долголетия сооружения. При возведения фундамента важно учесть:
                        </p>
                        <br>
                        <ul>
                            <li>тип грунта</li>
                            <li>глубину залегания грунтовых вод</li>
                            <li>неровности ландшафта</li>
                            <li>влажность воздуха в разные сезоны</li>
                            <li>вес и габариты дома из оцилиндрованого бревна</li>
                        </ul>
                    </div>
                    <div class="work-bottom">
                        <p>
                            Для проектирования деревянных домов из оцилиндрованного бревна мы используем лицензионный комплекс компьютерных программ K3-Коттедж. КЗ-Коттедж позволяет ускорить выпуск проектной документации и повысить качество подготовки производственных заданий по изготовлению домов из оцилиндрованных бревен на базе компьютерных технологий.
                        </p>
                        <br>
                        <p>
                            Проектирование деревянных домов в программе К3-Коттедж основано на принципе «От компьютерной модели к полному комплекту документов». Автоматическое получение всего пакета документов исключает возникновение ошибок, связанных с «человеческим фактором».
                        </p>
                        <br>
                        <p>
                            Наличие собственного отдела проектов позволяет нам вести проект от начала и до конца, полностью контролируя ход.
                        </p>
                    </div>
                    <div class="click-btn work-block-handler">
                        <span>Читать</span> далее
                    </div>
                </div>
        </div>
    </section>

    <!--section4-->
    <section class="info-blog">
        <div class="container cols cols--stretch">
            <div class="info-blog-left">
                <div class="info-blog-left--title h1">
                    Полезная
                    информация
                </div>

                <div class="info-blog-left--top active" data-tab="1">
                    Полезный выбор в деревянном домостроении
                    <div class="border-left active"></div>
                    <div class="info-blog-left--top-triangle cols">
                        <div class="border1"></div>
                        <div class="border2"></div>
                        <div class="border3"></div>
                    </div>
                </div>

                <div class="info-blog-left--top" data-tab="2">
                    Усадка и растрескивание оцилиндрованного бревна
                    <div class="border-left active"></div>
                    <div class="info-blog-left--top-triangle cols">
                        <div class="border1"></div>
                        <div class="border2"></div>
                        <div class="border3"></div>
                    </div>
                </div>

                <div class="info-blog-left--top" data-tab="3">
                    Недостатки домов из оцилиндрованного бревна и их минимизация
                    <div class="border-left active"></div>
                    <div class="info-blog-left--top-triangle cols">
                        <div class="border1"></div>
                        <div class="border2"></div>
                        <div class="border3"></div>
                    </div>
                </div>
                <a href="/" class="btn">
                    Больше интересных материалов
                </a>
            </div>
            <div class="info-blog-right">
                <div class="info-blog-right--titel h1">
                    блог
                </div>
                <div class="info-blog-right-first active" data-tab="1">
                    <p>
                        Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                        Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.
                    </p>
                    <a class="btn">
                        Подробнее1
                    </a>
                </div>
                <div class="info-blog-right-first" data-tab="2">
                    <p>
                        Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                        Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.
                    </p>
                    <a class="btn">
                        Подробнее2
                    </a>
                </div>
                <div class="info-blog-right-first" data-tab="3">
                    <p>
                        Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                        Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.
                    </p>
                    <a class="btn">
                        Подробнее3
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}