{% extends "./includes/layout.twig" %}

{% block content %}
    <div class="menu-border"></div>
    <nav class="header-menu container cols cols--acenter">

        <div class="cols">
            <ul class="header-menu--main cols cols--acenter">
                <li>
                    <a href="/"><span class="icon icon-menu"></span></a>
                </li>
                <li>
                    <a href="/">
                        Услуги
                    </a>
                </li>
                <li>
                    <a href="/">
                        Проекты
                    </a>
                </li>
                <li>
                    <a href="/">Реализованные проекты</a>
                </li>
                <li>
                    <a href="/">
                        Проодажа пиломатериала
                    </a>
                </li>
                <li>
                    <a href="/">
                        О компании
                    </a>
                </li>
                <li>
                    <a href="/">
                        Технологии
                    </a>
                </li>
                <li>
                    <a href="/">
                        Контакты
                    </a>
                </li>
            </ul>
            <div class="header-menu--home">
                <a href="/">
                    <span class="icon icon-home"></span>
                    главная
                </a>
            </div>
        </div>
        <div class="navigation">
            <pre class="cols cols--start">
                <a href="">Главная</a> - <a href="">Услуги</a> - <a href="">Проектирование</a>
            </pre>
        </div>
    </nav>
    <!--section1-->

    <section class="work container">
        <div class="work-title h1">
            Читайте в блоге
            <div class="work-title-article">
                <img src="img/icons/article.svg" alt="" >
            </div>
        </div>
        <div class="work-about">
            <div class="cols">
                <div class="work-block cols">
                    <div class="work-title-left cols cols--acenter cols--start">
                        <span> 06</span>
                        <div class="h4">
                            Полезный выбор в
                            <br>деревянном домостроении
                        </div>
                        <div class="title-date">
                            <span class="date">22 сентября,</span> 2020
                        </div>
                    </div>
                    <div class="work-left">
                        <img src="img/blog/img1.jpg" alt="">
                    </div>
                    <div class="work-right">
                        <p>
                            И все таки когда выбор по материалу сделан - дерево, вопрос как и из чего строить возникает вновь. Конечно, выбор всегда индивидуален, он зависит от вкусовых предпочтений и финансовых возможностей. К примеру, если построить дом из клеёного бруса, то у него есть много преимуществ. Дом из него очень эстетичен, не требует усадки, после возведения очень быстро готов к проживанию, но дом из-за проклеенных соединений, требует вентиляции, как каменный, и очень важно качество клея, ведь от этого зависит долговечность и экологичность здания. Цена тоже немаловажный фактор, даже с учетом минимизации внешней и внутренней отделки, она выше в 2 раза, чем дом из оцилиндрованного бревна. Рубленные дома, особенно варианты норвежской или канадской рубки, прекрасны своей брутальностью и надежностью...                            вот только смета на них соответствует изделиям "hand made", и в два раза больше, чем на оцилиндрованное бревно. На профилированный брус всегда более высокая цена, а также очень много особенностей при проектировании и строительстве. Дома из обыкновенного бруса естественной влажности относительно недороги, но требуют утепления, и что самое главное дополнительной внутренней и внешней отделки. Для подробного сравнения вы всегда можете проконсультироваться у наших специалистов.
                        </p>
                    </div>
                    <a href="" class="all-articles">
                        <span>Все</span> статьи
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}