{% extends "./includes/layout.twig" %}

{% block content %}

    <div class="menu-border"></div>
    <nav class="header-menu header-menu__active container cols cols--acenter">

        <div class="cols">
            <ul class="header-menu--main cols cols--acenter">
                <li>
                    <a href="/"><span class="icon icon-menu"></span></a>
                </li>
                <li>
                    <a href="/">
                        Услуги
                    </a>
                </li>
                <li>
                    <a href="/">
                        Проекты
                    </a>
                </li>
                <li>
                    <a href="/">Реализованные проекты</a>
                </li>
                <li>
                    <a href="/">
                        Проодажа пиломатериала
                    </a>
                </li>
                <li>
                    <a href="/">
                        О компании
                    </a>
                </li>
                <li>
                    <a href="/">
                        Технологии
                    </a>
                </li>
                <li>
                    <a href="/">
                        Контакты
                    </a>
                </li>
            </ul>
            <div class="header-menu--home">
                <a href="/">
                    <span class="icon icon-home"></span>
                    главная
                </a>
            </div>
        </div>
        <div class="navigation">
            <nav>
                <ul class="cols">
                    <li>
                        <a href="">Главная</a>
                    </li>
                    -
                    <li>
                        <a href="">Продажа пиломатериала</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>

    <!--section1-->

    <section class="sell container">
        <div class="sell-logo">
            <img src="../img/icons/wood_plank.svg" alt="">
        </div>
        <div class="h1">
            продажа
            <br>пиломатериала
        </div>
        <p>
            Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
            Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.
        </p>
        <div class="sell-blocks cols">
            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-1.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        Брус
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-2.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        обрезная доска
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-3.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        Евровагонка / вагонка
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-4.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        Половая доска
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-5.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        Имитация бруса
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-6.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        Строганая доска
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-7.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        заборная доска
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-8.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        Блок Хаус
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-9.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        НАЛИЧНИКИ, ПЛИНТУСА, УГОЛОК, БРУСКИ, ПОГОНАЖ
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-10.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        полок банный
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-11.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        OSB, фанера
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="img/catalog/cart-12.jpg" alt="">
                </div>
                <div class="item-bottom">
                    <div class="h4">
                        Утеплители
                    </div>
                    <a href="" class="arrow">
                        <div class="icon icon-left">
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <div class="menu-border"></div>

    <section class="quality cols container">
            <div class="quality-img">
                <img src="img/catalog/buski.jpg" alt="">
            </div>
            <div class="quality-text">
                <div class="h4">
                    Качественные пиломатериалы с удобной доставкой
                </div>
                <p>
                    Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                    <br>Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                    <br>Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                    <br>Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.
                </p>
            </div>
    </section>
{% endblock %}