{% extends "./includes/layout.twig" %}

{% block content %}
    <div class="menu-border"></div>
    <nav class="header-menu header-menu__active container cols cols--acenter">

        <div class="cols">
            <ul class="header-menu--main cols cols--acenter">
                <li>
                    <a href="/"><span class="icon icon-menu"></span></a>
                </li>
                <li>
                    <a href="/">
                        Услуги
                    </a>
                </li>
                <li>
                    <a href="/">
                        Проекты
                    </a>
                </li>
                <li>
                    <a href="/">Реализованные проекты</a>
                </li>
                <li>
                    <a href="/">
                        Проодажа пиломатериала
                    </a>
                </li>
                <li>
                    <a href="/">
                        О компании
                    </a>
                </li>
                <li>
                    <a href="/">
                        Технологии
                    </a>
                </li>
                <li>
                    <a href="/">
                        Контакты
                    </a>
                </li>
            </ul>
            <div class="header-menu--home">
                <a href="/">
                    <span class="icon icon-home"></span>
                    главная
                </a>
            </div>
        </div>
        <div class="navigation container">
            <nav>
                <ul class="cols">
                    <li>
                        <a href="">Главная</a>
                    </li>
                    -
                    <li>
                        <a href="">Услуги</a>
                    </li>
                    -
                    <li>
                        <a href="">Проектирование</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <!--section1-->
    <section class="design">
        <div class="design-line"></div>
        <div class="design-main container">
            <div class="design-title h1">
                индивидуальное
                <br>проектирование
            </div>
            <p>
                Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных объектов.
            </p>
        </div>
    </section>
    <!--section2-->
    <section class="confidence-home confidence-home__active">
        <div class="confidence-home--border">
           <div class="container cols">
               <div class="confidence-left">
                   <div class="h4">
                       Дом для вашей неповторимой истории.
                   </div>
                   <p>
                       Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных объектов.
                       Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.СК-43 начала деятельность с деревообрабатывающего завода, который и по сей день является сердцем нашей компании. Мы на практике научились отбирать лучшее, в плане долговечности, сырье для строительства домов из оцилиндрованного бревна. Постигли все тонкости обработки древесины.
                   </p>
               </div>
               <div class="confidence-right">
                   <div class="btn1">
                        Заказать <span>дом</span>
                   </div>
                   <p>
                       Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных объектов.
                       Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.СК-43 начала деятельность с деревообрабатывающего завода, который и по сей день является сердцем нашей компании. Мы на практике научились отбирать лучшее, в плане долговечности, сырье для строительства домов из оцилиндрованного бревна. Постигли все тонкости обработки древесины.
                   </p>
               </div>
           </div>
        </div>
    </section>


    <!-- 3 section-->

    <section class="popular-projects design-projects-active">
        <div class="popular-projects-border">
            <div class="container">
                <div class="popular-projects-border--in"></div>
            </div>
        </div>
        <div class="container">
            <div class="popular-projects__top h2">
                проекты домов, созданных
                <br> по индивидуальному заказу
            </div>
            <p class="sub_title">
                Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных объектов.
                Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.СК-43 начала деятельность с деревообрабатывающего завода, который и по сей день является сердцем нашей компании. Мы на практике научились отбирать лучшее, в плане долговечности, сырье для строительства домов из оцилиндрованного бревна. Постигли все тонкости обработки древесины.
            </p>
            <!--будет слайдер-->

            <div class="swiper-slider"
                 data-slider-slides-per-view="3"
                 data-slider-breakpoints='{"600": {"slidesPerView": 1, "spaceBetween": 15},"780": {"slidesPerView": 2, "spaceBetween":30},"1050": {"slidesPerView": 2, "spaceBetween": 20}, "1340": {"slidesPerView": 3, "spaceBetween": 10}}'
                 data-slider-centered-slides="true"
                 data-slider-slides-per-group="1"
                 data-slider-effect=""
                 data-slider-loop="true"
                 data-slider-autoplay="false"
                 data-slider-speed="1000"
                 data-slider-grabcursor="true"
                 data-slider-space-between="50">



                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide popular-projects-info">
                            <div class="popular-projects-info--height-img">
                                <img src="img/home3.jpg" alt="" />
                            </div>
                            <div class="popular-projects-info--main-pad cols">
                                <div class="popular-projects-info--left">
                                    <div class="popular-projects-info--project-house">
                                        Проект дома <span>“Д-35”</span>
                                    </div>
                                    <div class="popular-projects-info--midle">
                                        <p>
                                            Количество комнат - 8
                                            <br>Размер стоения - 7,4 / 5,9  м
                                        </p>
                                    </div>
                                    <div class="popular-projects-info--bottom">
                                        517 000 <span class="rubl"> ₽ </span>
                                    </div>
                                </div>
                                <div class="popular-projects-info--right">
                                    <div class="popular-projects-info--area-top">
                                        <span class="popular-projects-info--span-color">156 м<sup>2</sup></span>
                                    </div>
                                    <div class="popular-projects-info--area-bottom cols">
                                        <div>
                                            <div>
                                                <img src="img/icons/Bed.svg" alt="bed">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                        <div>
                                            <div>
                                                <img src="img/icons/Bathroom.svg" alt="bath">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="popular-projects-info--arrow" href="/">
                                <div class="icon icon-left"></div>
                            </a>
                        </div>
                        <div class="swiper-slide popular-projects-info">
                            <div class="popular-projects-info--height-img">
                                <img src="img/home3.jpg" alt="" />
                            </div>
                            <div class="popular-projects-info--main-pad cols">
                                <div class="popular-projects-info--left">
                                    <div class="popular-projects-info--project-house">
                                        Проект дома <span>“Д-35”</span>
                                    </div>
                                    <div class="popular-projects-info--midle">
                                        <p>
                                            Количество комнат - 8
                                            <br>Размер стоения - 7,4 / 5,9  м
                                        </p>
                                    </div>
                                    <div class="popular-projects-info--bottom">
                                        517 000 <span class="rubl"> ₽ </span>
                                    </div>
                                </div>
                                <div class="popular-projects-info--right">
                                    <div class="popular-projects-info--area-top">
                                        <span class="popular-projects-info--span-color">156 м<sup>2</sup></span>
                                    </div>
                                    <div class="popular-projects-info--area-bottom cols">
                                        <div>
                                            <div>
                                                <img src="img/icons/Bed.svg" alt="bed">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                        <div>
                                            <div>
                                                <img src="img/icons/Bathroom.svg" alt="bath">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="popular-projects-info--arrow" href="/">
                                <div class="icon icon-left"></div>
                            </a>
                        </div>
                        <div class="swiper-slide popular-projects-info">
                            <div class="popular-projects-info--height-img">
                                <img src="img/home3.jpg" alt="" />
                            </div>
                            <div class="popular-projects-info--main-pad cols">
                                <div class="popular-projects-info--left">
                                    <div class="popular-projects-info--project-house">
                                        Проект дома <span>“Д-35”</span>
                                    </div>
                                    <div class="popular-projects-info--midle">
                                        <p>
                                            Количество комнат - 8
                                            <br>Размер стоения - 7,4 / 5,9  м
                                        </p>
                                    </div>
                                    <div class="popular-projects-info--bottom">
                                        517 000 <span class="rubl"> ₽ </span>
                                    </div>
                                </div>
                                <div class="popular-projects-info--right">
                                    <div class="popular-projects-info--area-top">
                                        <span class="popular-projects-info--span-color">156 м<sup>2</sup></span>
                                    </div>
                                    <div class="popular-projects-info--area-bottom cols">
                                        <div>
                                            <div>
                                                <img src="img/icons/Bed.svg" alt="bed">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                        <div>
                                            <div>
                                                <img src="img/icons/Bathroom.svg" alt="bath">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="popular-projects-info--arrow" href="/">
                                <div class="icon icon-left"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            <div class="popular-projects--btn">
                <a class="btn1" href="/">
                    <span class="bold">Посмотреть все</span> проекты
                    <span class="icon icon-left_1"></span>
                </a>
            </div>
        </div>
        <div class="popular-projects-border-bottom">
            <div class="container">
                <div class="popular-projects-border-bottom--in"></div>
            </div>
        </div>
    </section>


    <!--section5-->

    <section class="design-stages">
        <div class="cols container">
            <div class="design-left">
                <div class="cols cols--acenter">
                    <div class="left-numbers">
                        1
                    </div>
                    <p>
                        Оставьте заявку на создание индивидуального проекта
                    </p>
                </div>
                <div class="cols cols--acenter">
                    <div class="left-numbers">
                        2
                    </div>
                    <p>
                        Наш менеджер связывается с вами для уточнения деталей и сроков
                    </p>
                </div>
                <div class="cols cols--acenter">
                    <div class="left-numbers">
                        3
                    </div>
                    <p>
                        Встреча с архитектором, заполнение брифа на проектирование
                    </p>
                </div>
                <div class="cols cols--acenter">
                    <div class="left-numbers">
                        4
                    </div>
                    <p>
                        Заключение договора на проектирование и оплата
                    </p>
                </div>
                <div class="cols cols--acenter">
                    <div class="left-numbers">
                        5
                    </div>
                    <p>
                        Выезд с архитектором на участок, чтобы проанализировать его и учесть все нюансы в проекте
                    </p>
                </div>
                <div class="cols cols--acenter">
                    <div class="left-numbers">
                        6
                    </div>
                    <p>
                        Обсуждение с архитектором вариантов планировок и фасадов, выбор оптимального решения
                    </p>
                </div>
                <div class="cols cols--acenter">
                    <div class="left-numbers">
                       7
                    </div>
                    <p>
                        Получаете готовый проект и рассчитанную смету на дом!
                    </p>
                </div>
            </div>
            <div class="design-right">
                <div class="h1">
                    этапы <br>проектирования
                </div>
            </div>
        </div>
    </section>


    <!--section6-->


    <section class="the-form">
        <div class="form main-offer--form form-validate form-ajax container">
            <form class="form-validate cols">
                <div class="border-massage cols">
                    <div class="form--title h1">Заявка на индивидуальное проектирование
                        <p>
                            Заполните заявку на индивидуальное проетирование и мы свяжемся с вами в ближайшее время для уточнения деталей вашего проекта и дальнейших действий.
                        </p>
                    </div>
                    <div class="massage">
                        <div class="form--item">
                            <input type="text" class="textfield" value="" name="1" placeholder="Ваше имя" data-rule-required="true">
                        </div>
                        <div class="form--item">
                            <input type="text" class="textfield" name="1" value="" placeholder="E-mail:"  data-rule-required="true">
                        </div>
                        <div class="form--item">
                            <input type="text" class="textfield mask-phone-ru" name="43" value="" placeholder="Номер телефона"  data-rule-required="true">
                        </div>
                    </div>
                </div>

                <div class="checkbox-c checkboxes">
                    <label class="checkbox checkbox-plain-js">
                        <div class="checkbox__icon"></div>
                        <input type="checkbox" name="agree" checked value="1" data-rule-required="true" aria-required="true" />
                        Ваше согласие на <a href="" target="_blank"> обработку персональных данных</a>
                    </label>
                </div>
                <div class="form--actions">
                    <button type="submit" class="btn1">Заказать проект</button>
                </div>
            </form>
        </div>
    </section>

    <!--section7-->

    <section class="wood-house container">
        <div class="wood-house-title">
            Проектирование деревянного дома
        </div>
        <div class="sup-title cols">
            <div class="sup-title-left">
                <p>
                    Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных объектов.
                    <br>Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.СК-43 начала деятельность с деревообрабатывающего завода, который и по сей день является сердцем нашей компании. Мы на практике научились отбирать лучшее, в плане долговечности, сырье для строительства домов из оцилиндрованного бревна. Постигли все тонкости обработки древесины.
                </p>
            </div>
            <div class="sup-title-right">
                <p>
                    Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных объектов.
                    <br>Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.СК-43 начала деятельность с деревообрабатывающего завода, который и по сей день является сердцем нашей компании. Мы на практике научились отбирать лучшее, в плане долговечности, сырье для строительства домов из оцилиндрованного бревна. Постигли все тонкости обработки древесины.
                </p>
            </div>
        </div>
    </section>

    <!--section8-->

    <section class="info-blog">
        <div class="container cols cols--stretch">
            <div class="info-blog-left">
                <div class="info-blog-left--title h1">
                    Полезная
                    информация
                </div>

                <div class="info-blog-left--top active" data-tab="1">
                    Полезный выбор в деревянном домостроении
                    <div class="border-left active"></div>
                    <div class="info-blog-left--top-triangle cols">
                        <div class="border1"></div>
                        <div class="border2"></div>
                        <div class="border3"></div>
                    </div>
                </div>

                <div class="info-blog-left--top" data-tab="2">
                    Усадка и растрескивание оцилиндрованного бревна
                    <div class="border-left active"></div>
                    <div class="info-blog-left--top-triangle cols">
                        <div class="border1"></div>
                        <div class="border2"></div>
                        <div class="border3"></div>
                    </div>
                </div>

                <div class="info-blog-left--top" data-tab="3">
                    Недостатки домов из оцилиндрованного бревна и их минимизация
                    <div class="border-left active"></div>
                    <div class="info-blog-left--top-triangle cols">
                        <div class="border1"></div>
                        <div class="border2"></div>
                        <div class="border3"></div>
                    </div>
                </div>
                <a href="/" class="btn">
                    Больше интересных материалов
                </a>
            </div>
            <div class="info-blog-right">
                <div class="info-blog-right--titel h1">
                    блог
                </div>
                <div class="info-blog-right-first active" data-tab="1">
                    <p>
                        Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                        Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.
                    </p>
                    <a class="btn">
                        Подробнее1
                    </a>
                </div>
                <div class="info-blog-right-first" data-tab="2">
                    <p>
                        Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                        Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.
                    </p>
                    <a class="btn">
                        Подробнее2
                    </a>
                </div>
                <div class="info-blog-right-first" data-tab="3">
                    <p>
                        Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                        Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.
                    </p>
                    <a class="btn">
                        Подробнее3
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}