{% extends "./includes/layout.twig" %}

{% block content %}
    <div class="menu-border"></div>
    <nav class="header-menu header-menu__active container cols cols--acenter">

        <div class="cols">
            <ul class="header-menu--main cols cols--acenter">
                <li>
                    <a href="/"><span class="icon icon-menu"></span></a>
                </li>
                <li>
                    <a href="/">
                        Услуги
                    </a>
                </li>
                <li>
                    <a href="/">
                        Проекты
                    </a>
                </li>
                <li>
                    <a href="/">Реализованные проекты</a>
                </li>
                <li>
                    <a href="/">
                        Проодажа пиломатериала
                    </a>
                </li>
                <li>
                    <a href="/">
                        О компании
                    </a>
                </li>
                <li>
                    <a href="/">
                        Технологии
                    </a>
                </li>
                <li>
                    <a href="/">
                        Контакты
                    </a>
                </li>
            </ul>
            <div class="header-menu--home">
                <a href="/">
                    <span class="icon icon-home"></span>
                    главная
                </a>
            </div>
        </div>
        <div class="navigation">
            <nav>
                <ul class="cols">
                    <li>
                        <a href="">Главная</a>
                    </li>
                    -
                    <li>
                        <a href="">Услуги</a>
                    </li>
                    -
                    <li>
                        <a href="">Производство</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <!--section1-->
    <section class="design design-active">
        <div class="design-line"></div>
        <div class="design-main container">
            <div class="design-title h1">
                Производство
                <br>оцилиндрованного бревна
            </div>
            <p>
                Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных объектов.
            </p>
        </div>
    </section>
    <!--section2-->
    <section class="confidence-home confidence-home__active">
        <div class="confidence-home--border">
           <div class="container cols">
               <div class="confidence-left">
                   <div class="h4 h4-active">
                       Собственное производство
                       <br>оцилиндрованного бревна
                   </div>
                   <p>
                       Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных объектов.
                       Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.СК-43 начала деятельность с деревообрабатывающего завода, который и по сей день является сердцем нашей компании. Мы на практике научились отбирать лучшее, в плане долговечности, сырье для строительства домов из оцилиндрованного бревна. Постигли все тонкости обработки древесины.
                   </p>
               </div>
               <div class="confidence-right">
                   <div class="btn1">
                        Заказать <span>дом</span>
                   </div>
                   <p>
                       Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных объектов.
                       Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.СК-43 начала деятельность с деревообрабатывающего завода, который и по сей день является сердцем нашей компании. Мы на практике научились отбирать лучшее, в плане долговечности, сырье для строительства домов из оцилиндрованного бревна. Постигли все тонкости обработки древесины.
                   </p>
               </div>
           </div>
        </div>
    </section>


    <!-- 3 section-->
<section class="img-blocks">
    <div class="wrapper-grid">
        <a href="javascript:;" data-fancybox="gal2" data-src="img/production/var1.jpg" class="one">
            <img src="img/production/var1.jpg" alt="" class="one">
        </a>
        <a href="javascript:;" data-fancybox="gal2" data-src="img/production/var2.jpg" class="two">
            <img src="img/production/var2.jpg" alt="" class="two">
        </a>
        <a href="javascript:;" data-fancybox="gal2" data-src="img/production/var3.jpg" class="three">
            <img src="img/production/var3.jpg" alt="" class="three">
        </a>
        <a href="javascript:;" data-fancybox="gal2" data-src="img/production/var4.jpg" class="four">
            <img src="img/production/var4.jpg" alt="" class="four">
        </a>
        <a href="javascript:;" data-fancybox="gal2" data-src="img/production/var5.jpg" class="five">
            <img src="img/production/var5.jpg" alt="" class="five">
        </a>
        <a href="javascript:;" data-fancybox="gal2" data-src="img/production/var6.jpg" class="six">
            <img src="img/production/var6.jpg" alt="" class="six">
        </a>
        <a href="javascript:;" data-fancybox="gal2" data-src="img/production/var7.jpg" class="seven">
            <img src="img/production/var7.jpg" alt="" class="seven">
        </a>
    </div>
</section>
    <!-- 4 section-->

    <section class="popular-projects design-projects-active">
        <div class="popular-projects-border">
            <div class="container">
                <div class="popular-projects-border--in"></div>
            </div>
        </div>
        <div class="container">
            <div class="popular-projects__top h2">
                проекты домов из
                <br>оцилиндрованного бревна
            </div>
            <p class="sub_title">
                Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных объектов.
                Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.СК-43 начала деятельность с деревообрабатывающего завода, который и по сей день является сердцем нашей компании. Мы на практике научились отбирать лучшее, в плане долговечности, сырье для строительства домов из оцилиндрованного бревна. Постигли все тонкости обработки древесины.
            </p>
            <!--будет слайдер-->

            <div class="swiper-slider"
                 data-slider-slides-per-view="3"
                 data-slider-breakpoints='{"600": {"slidesPerView": 1, "spaceBetween": 15},"780": {"slidesPerView": 2, "spaceBetween":30},"1050": {"slidesPerView": 2, "spaceBetween": 20}, "1340": {"slidesPerView": 3, "spaceBetween": 10}}'
                 data-slider-centered-slides="true"
                 data-slider-slides-per-group="1"
                 data-slider-effect=""
                 data-slider-loop="true"
                 data-slider-autoplay="false"
                 data-slider-speed="1000"
                 data-slider-grabcursor="true"
                 data-slider-space-between="50">



                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide popular-projects-info">
                            <div class="popular-projects-info--height-img">
                                <img src="img/home3.jpg" alt="" />
                            </div>
                            <div class="popular-projects-info--main-pad cols">
                                <div class="popular-projects-info--left">
                                    <div class="popular-projects-info--project-house">
                                        Проект дома <span>“Д-35”</span>
                                    </div>
                                    <div class="popular-projects-info--midle">
                                        <p>
                                            Количество комнат - 8
                                            <br>Размер стоения - 7,4 / 5,9  м
                                        </p>
                                    </div>
                                    <div class="popular-projects-info--bottom">
                                        517 000 <span class="rubl"> ₽ </span>
                                    </div>
                                </div>
                                <div class="popular-projects-info--right">
                                    <div class="popular-projects-info--area-top">
                                        <span class="popular-projects-info--span-color">156 м<sup>2</sup></span>
                                    </div>
                                    <div class="popular-projects-info--area-bottom cols">
                                        <div>
                                            <div>
                                                <img src="img/icons/Bed.svg" alt="bed">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                        <div>
                                            <div>
                                                <img src="img/icons/Bathroom.svg" alt="bath">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="popular-projects-info--arrow" href="/">
                                <div class="icon icon-left"></div>
                            </a>
                        </div>
                        <div class="swiper-slide popular-projects-info">
                            <div class="popular-projects-info--height-img">
                                <img src="img/home3.jpg" alt="" />
                            </div>
                            <div class="popular-projects-info--main-pad cols">
                                <div class="popular-projects-info--left">
                                    <div class="popular-projects-info--project-house">
                                        Проект дома <span>“Д-35”</span>
                                    </div>
                                    <div class="popular-projects-info--midle">
                                        <p>
                                            Количество комнат - 8
                                            <br>Размер стоения - 7,4 / 5,9  м
                                        </p>
                                    </div>
                                    <div class="popular-projects-info--bottom">
                                        517 000 <span class="rubl"> ₽ </span>
                                    </div>
                                </div>
                                <div class="popular-projects-info--right">
                                    <div class="popular-projects-info--area-top">
                                        <span class="popular-projects-info--span-color">156 м<sup>2</sup></span>
                                    </div>
                                    <div class="popular-projects-info--area-bottom cols">
                                        <div>
                                            <div>
                                                <img src="img/icons/Bed.svg" alt="bed">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                        <div>
                                            <div>
                                                <img src="img/icons/Bathroom.svg" alt="bath">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="popular-projects-info--arrow" href="/">
                                <div class="icon icon-left"></div>
                            </a>
                        </div>
                        <div class="swiper-slide popular-projects-info">
                            <div class="popular-projects-info--height-img">
                                <img src="img/home3.jpg" alt="" />
                            </div>
                            <div class="popular-projects-info--main-pad cols">
                                <div class="popular-projects-info--left">
                                    <div class="popular-projects-info--project-house">
                                        Проект дома <span>“Д-35”</span>
                                    </div>
                                    <div class="popular-projects-info--midle">
                                        <p>
                                            Количество комнат - 8
                                            <br>Размер стоения - 7,4 / 5,9  м
                                        </p>
                                    </div>
                                    <div class="popular-projects-info--bottom">
                                        517 000 <span class="rubl"> ₽ </span>
                                    </div>
                                </div>
                                <div class="popular-projects-info--right">
                                    <div class="popular-projects-info--area-top">
                                        <span class="popular-projects-info--span-color">156 м<sup>2</sup></span>
                                    </div>
                                    <div class="popular-projects-info--area-bottom cols">
                                        <div>
                                            <div>
                                                <img src="img/icons/Bed.svg" alt="bed">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                        <div>
                                            <div>
                                                <img src="img/icons/Bathroom.svg" alt="bath">
                                            </div>
                                            <p>
                                                2
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="popular-projects-info--arrow" href="/">
                                <div class="icon icon-left"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            <div class="popular-projects--btn">
                <a class="btn1" href="/">
                    <span class="bold">Посмотреть все</span> проекты
                    <span class="icon icon-left_1"></span>
                </a>
            </div>
        </div>
        <div class="popular-projects-border-bottom">
            <div class="container">
                <div class="popular-projects-border-bottom--in"></div>
            </div>
        </div>
    </section>

    <!--section5-->

    <section class="info-blog">
        <div class="container cols cols--stretch">
            <div class="info-blog-left">
                <div class="info-blog-left--title h1">
                    Полезная
                    информация
                </div>

                <div class="info-blog-left--top active" data-tab="1">
                    Полезный выбор в деревянном домостроении
                    <div class="border-left active"></div>
                    <div class="info-blog-left--top-triangle cols">
                        <div class="border1"></div>
                        <div class="border2"></div>
                        <div class="border3"></div>
                    </div>
                </div>

                <div class="info-blog-left--top" data-tab="2">
                    Усадка и растрескивание оцилиндрованного бревна
                    <div class="border-left active"></div>
                    <div class="info-blog-left--top-triangle cols">
                        <div class="border1"></div>
                        <div class="border2"></div>
                        <div class="border3"></div>
                    </div>
                </div>

                <div class="info-blog-left--top" data-tab="3">
                    Недостатки домов из оцилиндрованного бревна и их минимизация
                    <div class="border-left active"></div>
                    <div class="info-blog-left--top-triangle cols">
                        <div class="border1"></div>
                        <div class="border2"></div>
                        <div class="border3"></div>
                    </div>
                </div>
                <a href="/" class="btn">
                    Больше интересных материалов
                </a>
            </div>
            <div class="info-blog-right">
                <div class="info-blog-right--titel h1">
                    блог
                </div>
                <div class="info-blog-right-first active" data-tab="1">
                    <p>
                        Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                        Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.
                    </p>
                    <a class="btn">
                        Подробнее1
                    </a>
                </div>
                <div class="info-blog-right-first" data-tab="2">
                    <p>
                        Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                        Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.
                    </p>
                    <a class="btn">
                        Подробнее2
                    </a>
                </div>
                <div class="info-blog-right-first" data-tab="3">
                    <p>
                        Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали долгий путь и больше 200 построенных.
                        Наша компания образована в 2003 году, за 14 лет поэтапно и в совершенстве освоены все аспекты производства материалов и строительства домов.
                    </p>
                    <a class="btn">
                        Подробнее3
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}