{% extends "./includes/layout.twig" %}

{% block content %}
    <div class="menu-border"></div>
    <nav class="header-menu header-menu__active container cols cols--acenter">

        <div class="cols">
            <ul class="header-menu--main cols cols--acenter">
                <li>
                    <a href="/"><span class="icon icon-menu"></span></a>
                </li>
                <li>
                    <a href="/">
                        Услуги
                    </a>
                </li>
                <li>
                    <a href="/">
                        Проекты
                    </a>
                </li>
                <li>
                    <a href="/">Реализованные проекты</a>
                </li>
                <li>
                    <a href="/">
                        Проодажа пиломатериала
                    </a>
                </li>
                <li>
                    <a href="/">
                        О компании
                    </a>
                </li>
                <li>
                    <a href="/">
                        Технологии
                    </a>
                </li>
                <li>
                    <a href="/">
                        Контакты
                    </a>
                </li>
            </ul>
            <div class="header-menu--home">
                <a href="/">
                    <span class="icon icon-home"></span>
                    главная
                </a>
            </div>
        </div>
        <div class="navigation navigation_realized">
            <nav>
                <ul class="cols">
                    <li>
                        <a href="">Главная </a>
                    </li>
                    -
                    <li>
                        <a href="">Реализованные проекты </a>
                    </li>
                    -
                    <li>
                        <a href=""> Проект дома из оцилиндрованного бревна</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <!--section1-->
   <section>
       <div class="temple cols container">
            <div class="temple-left">
                <img src="img/realized_project_detail/home.jpg" alt="">
            </div>
           <div class="temple-project h1">
               индивидуальный
               <br>проект
           </div>
            <div class="temple-right">
                <div class="h4">
                    Храм в честь иконы Божией Матери  «Утоли моя печали»
                </div>
                <p class="temple_first">
                    Оцилиндрованное бревно, диаметр - 300 мм
                </p>
                <p class="temple_second">
                    <span class="icon icon-flag"></span> Нижегородская область, Кстовский район, д. Федяково
                </p>
                <div class="temple_border"></div>
                <p class="temple_third">
                    Построен по типовому проекту  “Д-35”
                </p>
                <div class="btn1">
                    <span>Посмотреть</span> проект
                </div>
            </div>
       </div>
   </section>

    <section class="project_detail-realized">
        <div class="wrapper-grid--realized">
            <a href="javascript:;" data-fancybox="gal1" data-src="img/project_detail/var1.jpg" class="one">
                <img src="img/project_detail/var1.jpg" alt="" class="one">
            </a>
            <a href="javascript:;" data-fancybox="gal1" data-src="img/project_detail/var2.jpg" class="two">
                <img src="img/project_detail/var2.jpg" alt="" class="two">
            </a>
            <a href="javascript:;" data-fancybox="gal1" data-src="img/project_detail/var3.jpg" class="three">
                <img src="img/project_detail/var3.jpg" alt="" class="three">
            </a>
            <a href="javascript:;" data-fancybox="gal1" data-src="img/project_detail/var4.jpg" class="four">
                <img src="img/project_detail/var4.jpg" alt="" class="four">
            </a>
            <a href="javascript:;" data-fancybox="gal1" data-src="img/project_detail/var5.jpg" class="five">
                <img src="img/project_detail/var5.jpg" alt="" class="five">
            </a>
            <a href="javascript:;" data-fancybox="gal1" data-src="img/project_detail/var6.jpg" class="six">
                <img src="img/project_detail/var6.jpg" alt="" class="six">
            </a>
            <a href="javascript:;" data-fancybox="gal1" data-src="img/project_detail/var7.jpg" class="seven">
                <img src="img/project_detail/var7.jpg" alt="" class="seven">
            </a>
        </div>
    </section>

    <section>
        <div class="temple-text container">
            <p>
                Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность.
                Такой уверенности предшествовали долгий путь и больше 200 построенных.
            </p>
        </div>
        <div class="temple-block">
            <div class="one">
                <img src="img/realized_project_detail/block1.jpg" alt="" >
            </div>
          <div class="two">
              <img src="img/realized_project_detail/block2.jpg" alt="" >
          </div>
            <div class="three">
                <img src="img/realized_project_detail/block3.jpg" alt="" >
            </div>
        </div>
    </section>

    <section>
        <div class="temple-text container">
            <p>
                Сегодня мы готовы взяться за реализацию проекта любого размера и сложности, прогарантировать его долговечность.
                Такой уверенности предшествовали долгий путь и больше 200 построенных. Сегодня мы готовы взяться за реализацию
                проекта любого размера и сложности, прогарантировать его долговечность. Такой уверенности предшествовали
                долгий путь и больше 200 построенных.
            </p>
        </div>

        <div class="temple-grid">
            <a href="javascript:;" data-fancybox="gal3" data-src="img/realized_project_detail/grid_home1.jpg" class="one">
                <img src="img/realized_project_detail/grid_home1.jpg" alt="" class="one">
            </a>
            <a href="javascript:;" data-fancybox="gal3" data-src="img/realized_project_detail/grid_home2.jpg" class="two">
                <img src="img/realized_project_detail/grid_home2.jpg" alt="" class="two">
            </a>
            <a href="javascript:;" data-fancybox="gal3" data-src="img/realized_project_detail/grid_home3.jpg" class="three">
                <img src="img/realized_project_detail/grid_home3.jpg" alt="" class="three">
            </a>
            <a href="javascript:;" data-fancybox="gal3" data-src="img/realized_project_detail/grid_home4.jpg" class="four">
                <img src="img/realized_project_detail/grid_home4.jpg" alt="" class="four">
            </a>
            <a href="javascript:;" data-fancybox="gal3" data-src="img/realized_project_detail/grid_home5.jpg" class="five">
                <img src="img/realized_project_detail/grid_home5.jpg" alt="" class="five">
            </a>
        </div>
    </section>
<section class="temple-plane container">
    <div class="swiper-slider"
         data-slider-slides-per-view=4
         data-slider-breakpoints='{"580": {"slidesPerView": 1, "spaceBetween": 15}, "880": {"slidesPerView": 2, "spaceBetween":30}, "1050": {"slidesPerView": 3, "spaceBetween": 20}, "1340": {"slidesPerView": 3, "spaceBetween": 10}}'
         data-slider-centered-slides=""
         data-slider-slides-per-group="1"
         data-slider-effect=""
         data-slider-loop="false"
         data-slider-autoplay="false"
         data-slider-speed="1000"
         data-slider-grabcursor="true"
         data-slider-space-between="50">

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide details--info">
                    <img src="img/realized_project_detail/plane1.jpg" alt="" />
                </div>

                <div class="swiper-slide details--info">
                    <img src="img/realized_project_detail/plane2.jpg" alt="" />
                </div>

                <div class="swiper-slide details--info">
                    <img src="img/realized_project_detail/plane3.jpg" alt="" />
                </div>

                <div class="swiper-slide details--info">
                    <img src="img/realized_project_detail/plane4.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

{% endblock %}